* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  box-sizing: border-box;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

[class*=col-] {
  min-height: 1px;
  padding: 12px;
  box-sizing: border-box;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 576px) {
  .col-sm-2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 576px) {
  .col-sm-3 {
    width: 25%;
  }
}
@media (min-width: 576px) {
  .col-sm-4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 576px) {
  .col-sm-5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 576px) {
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 576px) {
  .col-sm-7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 576px) {
  .col-sm-8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 576px) {
  .col-sm-9 {
    width: 75%;
  }
}
@media (min-width: 576px) {
  .col-sm-10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 576px) {
  .col-sm-11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 576px) {
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 768px) {
  .col-md-2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md-3 {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 768px) {
  .col-md-5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md-6 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .col-md-7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 768px) {
  .col-md-8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md-9 {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .col-md-10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 768px) {
  .col-md-11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg-2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg-5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-lg-7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg-8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-9 {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .col-lg-10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 992px) {
  .col-lg-11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 1200px) {
  .col-xl-2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-3 {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .col-xl-4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 1200px) {
  .col-xl-5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-6 {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-xl-7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 1200px) {
  .col-xl-8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-9 {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .col-xl-10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 1200px) {
  .col-xl-11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-3 {
    width: 25%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-6 {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-9 {
    width: 75%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-12 {
    width: 100%;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #a5a5a5;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
}

.logo {
  color: #08A6E4;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

header {
  width: 100%;
  height: 70px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.logo {
  padding-left: 25px;
}

.menu {
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.menu__list {
  display: flex;
}
@media (max-width: 576px) {
  .menu__list {
    position: absolute;
    left: 0;
    top: 95px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding-bottom: 20px;
    display: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .menu__list li {
    display: block;
    padding: 15px 20px;
  }
}
.menu__btn {
  display: none;
  position: absolute;
  opacity: 0;
  top: -9999999px;
  left: -9999999px;
}
@media (max-width: 576px) {
  .menu__btn:checked ~ .menu__list {
    display: flex;
  }
  .menu__btn:checked ~ .menu__toggle span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 5px);
  }
  .menu__btn:checked ~ .menu__toggle span:nth-child(2) {
    opacity: 0;
  }
  .menu__btn:checked ~ .menu__toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -5px);
  }
}
.menu__toggle span {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
  background-color: #08A6E4;
  transition: 0.3s all ease-in-out;
}
.menu__toggle span:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}

.menu__list a {
  padding: 22px 16px;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  margin-right: 20px;
}
@media (min-width: 1200px) {
  .menu__list a {
    padding-right: 100px;
  }
}
.menu__list a:last-child {
  margin-right: 0;
}
.menu__list a:hover {
  color: #000;
}
@media (min-width: 768px) {
  .menu__list a:hover:hover {
    padding: 22px 16px;
    border-color: #08A6E4;
  }
}
@media (min-width: 1200px) {
  .menu__list a:hover:hover {
    margin: 22px 84px 22px 0px;
  }
}
/*# sourceMappingURL=main.css.map */
