@import "../settings/variables";

body {
    font-family: $fontMain;
}

a {
    text-decoration: none;
    color: $grey165;
    font-family: $fontMain;
    font-weight: 700;
}

ul {
    list-style: none;
}

.logo {
    color: $colorMain;
    font-family: $fontSecond;
    font-size: 2rem;
}

.btn {
    border-radius: 40px;
    background-color: $colorMain;
    border: none;
    box-shadow: 5px 10px 14px $blue172;
    padding: 22px 80px;

    @media (min-width:$sm) {
        padding: 22px 125px;
    }

    a {

        color: $white;
    }
}

h2 {
    color: $black;
    font-size: 30px;
    font-family: $fontSecond;
    font-weight: 400;
}

h3 {
    color: #000;
    font-size: 20px;
    line-height: 24px;
    font-family: $fontSecond;
    font-weight: 800;
    letter-spacing: 5.96px;
}
