//FONTS
$fontMain: 'Open Sans',
sans-serif;
$fontSecond: 'Raleway',
sans-serif;


//COLORS
$white: #fff;
$black: #000;
$colorMain:#08A6E4;
$blue172: rgba(7, 172, 230, 0.16);
$green: rgba(85, 223, 180, 1);
$grey16: rgba(0, 0, 0, 0.16);
$grey112: rgba(112, 112, 112, 1);
$grey149: rgba(149, 152, 154, 1);
$gry165: rgba(165, 165, 165, 1);
$grey232: rgba(232, 233, 237, 1);
$grey247:rgba(247, 247, 247, 1);
$red235: rgba(251, 59, 100, 1);
$red249: rgba(249, 4, 54, 0.16);
$red251: rgba(251, 59, 100, 1);
$red255: rgba(255, 9, 17, 0.16);